<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container jumbotron">
      <h1 style="text-align: center;">Welcome</h1>
      <label>Click here to fill tye form: </label>
      <a href="http://127.0.0.1:8000/form"><button class="btn btn-primary" type="button" name="button">Click</button></a>
    </div>
  </body>
</html>
